<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ModernLite</title>
    <link rel="stylesheet" href="static/style_home.css"></head>
<body>
    
    
    
    <div class="menu">
    <div><button class="menu-options">New Game</button><br>
    </div>
    <div><button class="menu-options">My Decks</button><br>
    </div>
    <div><button class="menu-options">Messages</button><br>
    </div>
    <div><button class="menu-options">Cards</button><br>
    </div>
    <div><button class="menu-options">New Game</button><br>
    </div>
    <div><a href="{{url_for('logout')}}">Logout</a></div>

    </div>
    <img src="static/art/kavu.jpg" alt="Big Image" class="fade-image">
</body>
</html>