<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ModernLite</title>
    <link rel="stylesheet" href="static/style_login.css">
</head>
<body>
    <div class="image-container">
        <img src="static/serra.jpeg" alt="Big Image" class="fade-image">
    
    </div>
    <div id="login-container">
    <img src="static/logo.jpg" class="main-logo">

        <form action="{{ url_for('login') }}" method="POST">
                {{ form.hidden_tag() }}
                <input type="text" placeholder="Username" id="username" name="username" required><br>
                <input type="password" placeholder="Password" id="password" name="password" required><br>
                <button type="submit">Login</button><br>
        </form>

        <a style="margin-bottom: 20px; margin-left: 100px;" href="{{url_for('register')}}">Don't have an account yet? register</a>

    </div>
</body>
</html>